* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.3rem;
}

strong {
    color: black;
}

.container {
    min-height: 100vh;
    width: 600px;
    margin: auto;
    border-left: 1px solid #F1F1F1;
    border-right: 1px solid #F1F1F1;
}

.blue {
    color: #1DA1F2 !important;
}

.follow-button {
    margin-top: 50px;
    color: white;
    background-color: #1DA1F2;
    border: none;
    border-radius: 50px;
    padding: 12px 20px;
    font-size: 13pt;
    font-weight: 700;
}

.follow-button:hover {
    cursor: pointer;
    opacity: 0.8;
}

.profile-header {
    margin: auto;
    color: gray;
}

.profile-nav {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 60px;
    position:sticky;
    top: 0;
    background-color: white;
    z-index: 1030;
}

.back-button {
    border: none;
    border-radius: 50%;
    background-color: transparent;
    font-size: 18pt;
    width: 40px;
    height: 40px;
    margin-right: 30px;
}

.back-button:hover {
    cursor: pointer;
    border: 1px solid #1DA1F2;
}

.cover-photo {
    width: 100%;
}

.profile {
    margin: -70px 10px 0 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.profile-photo {
    width: 140px;
    height: 140px;
    border: 6px solid white;
    border-radius: 50%;
}

.sm-profile-photo {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    margin-right: 10px;
}

.profile-details {
    padding: 0 10px;
}

.profile-stats {
    display: flex;
    padding: 14px 0;
}

.joined {
    margin-top: 12px;
}

.stat {
    margin-right: 30px;
}

.tweet {
    display: flex;
    align-items: center;
    padding: 20px 10px;
    border-bottom: 1px solid #F1F1F1;
}

.tweet-details {
    color: gray;
    padding-left: 10px;
}

.display-name {
    color: black;
    font-weight: bolder;
    font-size: 18pt;
    margin: 6px 0;
}

.username {
    margin: 6px 0;
}

.tabs-container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #F1F1F1;
}

.tab {
    width: 25%;
    height: 50px;
    text-align: center;
    color: gray;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 13pt;
    font-weight: 600;
    box-sizing: content-box;
}

.tab:hover {
    background-color: #DDDDDD;
    cursor: pointer;
}

.active-tab {
    color: #1DA1F2;
    border-bottom: 3px solid #1DA1F2;
}